<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNinja basic Jinja template</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<form action="/rezultat" method="post">
    <input name="vnos">
    <textarea name="description"></textarea>
    <button type="submit">OK</button>
</form>
</body>

<table id="sporocila">
    <thead>
    <tr>
        <td>#</td>
        <td>Entry</td>
        <td>Description</td>
    </tr>
    </thead>
    <tbody>
    {% for vnos in seznam %}
    <tr>
        <td>1</td>
        <td>{{ vnos["vnos"] }}</td>
        <td>{{ vnos["description"] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</html>